.table th,
.table td {
   text-align: center;   
}

/*body{margin:40px;}*/

/*.btn-circle {
  width: 28px;
  height: 28px;
  text-align: center;
  padding: 6px 0;
  font-size: 9px;
  line-height: 1.428571429;
  border-radius: 50%;
}*/

.table-content {
  text-align: center;
  vertical-align: middle;
  margin: 10px 1px 10px 1px;
  padding: 4px 15px 4px 15px;
}