<% include ../header %>

    <div class="container">

        <table class="table table-hover table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="col-md-4">TAG</th>
                    <th class="col-md-4">Unidade</th>
                    <th class="col-md-4">Total</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<durabilidades.length; i++) {%>
                    <tr>
                        <td>
                            <span class="table-content"><%= durabilidades[i].tagProduto %></span>
                        </td>
                        <td>
                            <span class="table-content"><%= durabilidades[i].total %></span>
                        </td>
                        <td>
                            <span class="table-content"><%= durabilidades[i].unidade %></span>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

    </div>

<% include ../footer %>