<% include ../header %>

    <div class="container">

        <table class="table table-hover table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="col-md-4">TAG</th>
                    <th class="col-md-4">Produto</th>
                    <th class="col-md-4">Quantidade</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<produtos.length; i++) {%>
                    <tr>
                        <td>
                            <span class="table-content"><%= produtos[i].tagProduto %></span>
                        </td>
                        <td>
                            <span class="table-content"><%= produtos[i].nomeProduto %></span>
                        </td>
                        <td>
                            <span class="table-content"><%= produtos[i].quantidadeProduto %></span>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>


        <hr/>

        <form class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="select111" class="col-md-2 control-label">TAG</label>

                    <div class="col-md-10">
                        <select id="selectTag" class="form-control">
                            <% for(var i=0; i<produtos.length; i++) {%>
                                <option><span class="table-content"><%= produtos[i].tagProduto %></span></option>
                            <% } %>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <input class="form-control" id="txtNomeProduto" type="text" placeholder="Nome do Produto" name="nomeProduto"/>
                </div>

                <div class="col-md-4">
                    <a onclick="salvarNome()" class="btn btn-success">Cadastrar</a>
                </div>
            </div>
        </form>

    </div>

    <% include ../footer %>